.bg-primary1 {
  background-color: #F05F40;
}
.picture-responsive{
	width: 90%;
	height: 500px;
	margin-left: 5%;
	border:1px solid black;
}
.row-click{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 20px;
}
.img-click{
	padding: 0 0 0 0;
	width: 22%;
	float: left;
}
.img-click1{
	margin-left: 4%;
}
.img-click img{
	border: 1px solid black;
	height: 110px;
	width: 100%;
}
.img-click img:hover{
	border: 2px solid black;
	height: 110px;
	width: 100%;

}
.clear{
	clear: both;
}
.product-detail .small { display: block; }
.add-to-cart .btn-qty{ 
  width: 52px;
}
.add-to-cart .btn{
	border-radius: 0px;
} 
.label-main{
	background-color: blue;
}
.btn-full-width{
	background-color: #333;
	color: white;
}
.btn-full-width:hover{
	background-color: #333;
	color: white;
}
.prime{
	font-size: 14px;
	text-align: justify;
}
.row{
	margin-top: 5px;
}
.product-qty .btn-qty{
	border: 1px solid black;
}