.my-profile{
	padding-bottom: 0px;
	margin-bottom:-49px;
}
.content.profile{
	height: 500px;
}
.content .left-profile{
	height: 500px;
	margin-top: -15px;
    margin-left: 0px;
}
.content .right-profile{
	height: 500px;
	margin-top: -49px;
	/*background-color: #F05F40;*/
	
}
.btn.btn-primary.profile{
	margin-top: 15px;
	border-radius: 5px!important;
	margin-left: 15px;
}
.table.table-user-information input {
	border: none;
}
.title_muahang{
	 text-transform: uppercase;
	 text-align:center;
	 font-weight: bold;
	 font-size: 150%;
    font-family: sans-serif;
     margin-top: 20px;
     margin-bottom: 12px;
}
input:disabled{
	background: white !important;
}
a{
	cursor: pointer;
}
.table-user-information a{
	font-size: 80%;
}