.bg-primary1 {
  background-color: #F05F40;
}
.title-topic h2{
    font-size: 150%;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #595959;
}
.btn-style-1 {

    font-size: 11px;
    font-weight: bold;
    padding: 10.5px 20px;
    color: #ffffff;
    border-width: 2px;
    background-color:  #cc0000;
    text-transform: uppercase;
}
.btn-style-1:hover{
    color: white;
    background-color: #262626;
}
.contact-us-list-info li .icons {
    display: table-cell;
    width: 25px;
    text-align: left;
    color: #141414;
}
.contact-us-list-info li a{
    display: table-cell;
    color: #141414;
    text-decoration:none;
}
.contact-form .form-control {
    font-size: 11px;
    padding: 0 15px;
    letter-spacing: 1px;
    border: 2px solid #bfbfbf;
    border-radius: 0;
    box-shadow: none;
}
.contact-form .width-50per {
    float: left;
    width: 50%;
    padding-right: 15px;
}

.contact-form .width-100per {
    clear: both;
}
.contact-form .form-group {
    margin-bottom: 10px;
    padding-right: 10px;
}
.contact-form .form-control.form-textarea {
    width: 100% !important;
    padding: 13px 15px 23px;
}
.block-info .info{
    margin-top: 15px;
}
.map{
    margin-top: 20px;
}